@using static TuitionDbv1.Models.Batch
@model TuitionDbv1.Models.Batch;


@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit a record!</h1>

<h4>Batches table</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BatchDay" class="control-label"></label>
                <select asp-for="BatchDay" class="form-control">
                    @foreach (var value in Enum.GetValues(typeof(StudentBatchDay)))
                    {
                        <option value="@value">@value</option>
                    }
                </select>
                <span asp-validation-for="BatchDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BatchTime" class="control-label"></label>
                <select asp-for="BatchTime" class="form-control">
                    @foreach (var value in Enum.GetValues(typeof(StudentBatchTime)))
                    {
                        var displayText = value.ToString().Replace("Batch_", "").Insert(2, ":");
                        <option value="@value">@displayText</option>
                    }
                </select>
                <span asp-validation-for="BatchTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Staffs" class="control-label"></label>
                <select asp-for="StaffId" class="form-control" asp-items="ViewBag.Teachers"></select>
            </div>
            <div class="form-group">
                <label asp-for="Subjects" class="control-label"></label>
                <select asp-for="SubjectId" class="form-control" asp-items="ViewBag.SubjectId"></select>
            </div>
            
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
