@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p style="background-image: url('C:\Users\vatsa\OneDrive\Pictures\Screenshots\Screenshot 2024-05-11 120753.png');">
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
