@{
    ViewData["Title"] = "How to Operate";
}
<h1>@ViewData["Title"]</h1>

<p>This is a web-application which allows users to store information which helps to manage their tution service. In this app you can store Information regarding students, staff, and batches. You can keep track of which student is in which batch and have their information readily available in one place. 


This was made by a Vatsal, a TPI student in year 12, if you require any assistance feel free to contact him on ac121655@avcol.school.nz</p>
