@using static TuitionDbv1.Models.Staff
@model TuitionDbv1.Models.Staff

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Staff</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StaffName" class="control-label"></label>
                <input asp-for="StaffName" class="form-control" />
                <span asp-validation-for="StaffName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffEmail" class="control-label"></label>
                <input asp-for="StaffEmail" class="form-control" placeholder="name@example.com"/>
                <span asp-validation-for="StaffEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffPhone" class="control-label"></label>
                <input asp-for="StaffPhone" class="form-control" />
                <span asp-validation-for="StaffPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Positions" class="control-label"></label>
                <select asp-for="Positions" class="form-control">
                    @foreach (var value in Enum.GetValues(typeof(StaffPosition)))
                    {
                        <option value="@value">@value</option>
                    }
                </select>
                <span asp-validation-for="Positions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
